body {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 40px;
  margin: 40px;
  padding: 40px;
  background-color: burlywood;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
